[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
matplotlib = "*"
folium = "*"
shapely = "*"
h3 = "*"
geodatasets = "*"
contextily = "*"
pandas = "*"
timezonefinder = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.13"

[pipenv]
allow_prereleases = true
